body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
}

header {
    background-color: #000000;
    border-bottom: 2px solid #007bff;
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.45rem 2rem 0.45rem 2rem;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header p {
    font-size: 30px; 
    color: #ffffff; 
    margin: 0; 
}

/*sidebar*/
.sidebar {
    border-right: 2px solid #007bff;
    background-color: #000000;
    color: #ffffff; 
    width: 0rem;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    transition: width 0.5s ease;
}
.sidebar a{
    display: none;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    margin: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    transition: left 0.3s ease;
}
.sidebar.hidden a {
    display: flex;
}
.sidebar button {
    background-color: #e93636;
    color: #ffffff;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding: 0.5rem 0.9rem;
    position: absolute;
    bottom: 3rem;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.sidebar button:hover {
    background-color: #ffffff;
    color: #e93636;
}
.logout_button.hidden {
    display: flex;
    opacity: 100;
}
.sidebar.hidden {
    width: 18.57rem;
}

.toggle_sidebar {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 10px;
    background: #007bff;
    color: white;
    border: none;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 28px;
    z-index: 1000;
    transition: transform 0.3s ease;
}
.toggle_sidebar.hidden {
    transform: translateX(600%) rotate(180deg);
}
/*chat bot*/
.chat-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    transition: width 0.3s ease;
    height: 100%;
}

.chat_container.full-width {
    transition: width 0.3s ease;
    width: 100% -18.57rem;
}


.chat-header {
    background: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.chat-box {
    flex: 1; /* El chat-box ocupa el espacio disponible */
    padding: 10px;
    padding-top: 5rem;
    overflow-y: auto;
    border-bottom: 1px solid #444;
    transition: left 0.3s ease;
}

.chat-box.hidden {
    margin-left: 18.57rem;
}

.input-container {
    display: flex;
    padding: 10px;
    background: #222;
    /* Nuevas propiedades para fijar abajo */
    position: sticky; /* Se comporta como relativo hasta que se desplaza */
    bottom: 0; /* Se pega a la parte inferior */
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.input-container.hidden {
    padding-left: 19rem;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    outline: none;
    background: #333;
    color: white;
}

.user-message {
    background: #007bff;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.bot-message {
    background: #444;
    color: white;
    align-self: flex-start;
    text-align: right;
}

.message {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
}

.message-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: black;
    font-weight: bold;
}
